@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.25rem;
        --background: 0.039 0 0;
        --foreground: 0.985 0 0;
        --card: 0.078 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.078 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.922 0 0;
        --primary-foreground: 0.039 0 0;
        --secondary: 0.156 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.156 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.577 0.245 27.325;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.577 0.245 27.325;
        --chart-1: 0.577 0.245 27.325;
        --chart-2: 0.922 0 0;
        --chart-3: 0.708 0 0;
        --chart-4: 0.439 0 0;
        --chart-5: 0.156 0 0;
        --sidebar: 0.039 0 0;
        --sidebar-foreground: 0.985 0 0;
        --sidebar-primary: 0.577 0.245 27.325;
        --sidebar-primary-foreground: 0.985 0 0;
        --sidebar-accent: 0.156 0 0;
        --sidebar-accent-foreground: 0.985 0 0;
        --sidebar-border: 1 0 0 / 10%;
        --sidebar-ring: 0.577 0.245 27.325;
    }

    .dark {
        --background: 0.039 0 0;
        --foreground: 0.985 0 0;
        --card: 0.078 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.078 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.922 0 0;
        --primary-foreground: 0.039 0 0;
        --secondary: 0.156 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.156 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.577 0.245 27.325;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.577 0.245 27.325;
        --chart-1: 0.577 0.245 27.325;
        --chart-2: 0.922 0 0;
        --chart-3: 0.708 0 0;
        --chart-4: 0.439 0 0;
        --chart-5: 0.156 0 0;
        --sidebar: 0.039 0 0;
        --sidebar-foreground: 0.985 0 0;
        --sidebar-primary: 0.577 0.245 27.325;
        --sidebar-primary-foreground: 0.985 0 0;
        --sidebar-accent: 0.156 0 0;
        --sidebar-accent-foreground: 0.985 0 0;
        --sidebar-border: 1 0 0 / 10%;
        --sidebar-ring: 0.577 0.245 27.325;
    }

    * {
        @apply border-border;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        @apply bg-background text-foreground antialiased;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    }
}
